HMTL * {
    font-family: 'Times New Roman', Times, serif;
}

header {
    letter-spacing: 0.1em;
    text-align: center;
}

h2 {
    color: #006EB6
}

main {
    display: block;
    padding-right: 35%;
    padding-left: 35%;
    font-size: 20px;
    line-height: 1.5;
}

img {
    display: block;
    max-width: 150px;
    max-height: 150px;
    margin-top: 5em;
    margin-right: auto;
    margin-left: auto;
}