@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

.skiptocontent a{
    position: absolute;
    top: -40px;
}

.skiptocontent a:focus{
    top: 0;
}

html *{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1vw;
    color: #263D42;
    background-color: #E3E7D3;
}

h1{
    font-family: Mooli;
    font-size: 3vw;
    text-align: center;
    padding: 25px;
}

#book-container{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    margin-top: 2%;
    margin-bottom: %;
}

.book-image{
    margin-left: auto;
    margin-right: auto;
}

#navigation{
    display: grid;
    grid-template-columns: 75px 75px 75px;
    justify-content: end;
    justify-items: end;
    list-style-type: none;
    max-width: 95%;
}

a{
    font-size: 1.3vw;
}

li{
    margin: 10px;
    font-size: 1.3vw;
}

.date{
    font-size: 1.3vw;
    margin: 0;
}

.info{
    text-align: right;
    border-right: 3px solid #6E7D41;
    height: 450px;
    padding: 0px 25px;
    margin-bottom: 20%;
}

.book-title{
    color: #2F5B87;
    font-size: 2vw;
    font-family: Mooli;
    padding: 2vw;
}

.book-image{
    display: flex;
    justify-content: center;
}

.content{
    padding: 0px45px;
}

.text{
    padding: 0.2vw;
}